*{
    box-sizing: border-box;
    text-align: center;
}
body{
    background-color: honeydew;
}
header{
    margin-bottom: 30px;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: xx-large;
    font-weight: 700;
    line-height: 3;
}
hr{
    width: 50%;
}
main{
    margin: 30px 0px;
}
footer{
    line-height: 3;
}